################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TextToSpeech
/TextToSpeech/bin/Debug/net8.0
/TextToSpeech/obj
/.vs/ProjectEvaluation
